<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application manager</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/{{style}}.css">
    <script src="/script.js"></script>
</head>
<body>
    <main>
        <div class="left">
            {{{body}}}
        </div>
        <div class="right">
            {{#if user}}
            <div class="user-info">
                <h2>Welcome,<br>{{user.email}}</h2>
                <p id="user-id">{{user.id}}</p>
                <a href="/auth/logout">Log out</a>
            </div>
            {{else}}
            <div class="no-user">
                <h2>Please, log in first</h2>
                <p>You are not logged in.</p>
            </div>
            {{/if}}
        </div>
    </main>
    <script src="/onLoadScript.js"></script>
</body>
</html>